# version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: iga_mysql
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: iga_db
    ports:
      - "3307:3306"
    volumes:
      - ./mysql_data:/var/lib/mysql
      - ./init-db:/docker-entrypoint-initdb.d

  backend:
    build: ./backend-nest
    container_name: nest_api
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      DATABASE_HOST: db
      DATABASE_PORT: 3306
      DATABASE_USER: root
      DATABASE_PASSWORD: root
      DATABASE_NAME: iga_db
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  frontend:
    build: ./frontend
    container_name: react_front
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - backend