.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: white;
  color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.navbar-brand a {
  font-size: 1.8rem;
  font-weight: bold;
  color: #e0f2f7; 
  text-decoration: none;
}

.navbar-logo {
  height: 80px;
  margin-right: 1rem;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin-left: 1.5rem;
}

.navbar-links a {
  color: white;
  background-color: #e89353;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-links a:hover {
  background-color: #132442;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links {
    flex-direction: column;
    gap: 0.5rem;
  }
}