.p-8 {
  padding: 1rem;
  background: white;
  color: #333;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

thead {
  background: #f9f9f9;
  color: #333;
}

thead th {
  padding: 0.75rem;
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
}

tbody tr {
  border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background: #f9f9f9;
}

tbody tr:hover {
  background: #e89353;
  color: white;
}

tbody td {
  padding: 0.75rem;
  text-align: left;
  font-size: 0.9rem;
}


button {
  background: #e89353;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background: #cc7642;
}